*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

.text-uppercase{
	text-transform: uppercase;
}

::-webkit-input-placeholder { 
	color: white;
} /* WebKit */
:-moz-placeholder { 
	color: white; 
} /* Firefox 18- */
::-moz-placeholder { 
	color: white;
} /* Firefox 19+ */
:-ms-input-placeholder { 
	color: white;
} /* IE 10+ */
.modal-body{
	margin-left: 20%;
}
.modal-body input{
    width: 292px;
    height: 40px;
    border: 1px solid #f7b617;
    border-radius: 5px;
    background-color: transparent;
    color: #f7b617;
}