*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}

.text-uppercase{
	text-transform: uppercase;
}

::-webkit-input-placeholder { 
	color: white;
} /* WebKit */
:-moz-placeholder { 
	color: white; 
} /* Firefox 18- */
::-moz-placeholder { 
	color: white;
} /* Firefox 19+ */
:-ms-input-placeholder { 
	color: white;
} /* IE 10+ */
.modal-body{
	margin-left: 20%;
}
.modal-body input{
    width: 292px;
    height: 40px;
    border: 1px solid #f7b617;
    border-radius: 5px;
    background-color: transparent;
    color: #f7b617;
}

.redes-sociales-oculto{
    margin-top: 20px;
	color: white;
    font-size: 20px;

}
.redes-sociales-oculto i:hover{
	color:  #f7b617;
	cursor: pointer;
}
.img-store-oculto{
	margin-top: 12px;
}
.img-store-oculto img{
	margin-top: 14px;
}
.img-store-oculto img:hover{
	cursor: pointer;
}

.nav-header.icon-bar .hamburguesa{
	color: black;
}