.logo{
    padding: 30px;
    width: 86%;
}

.nav li a{
	padding: 30px;
    font-size: 18px;
    color: black;
    font-weight: 400;
}

.navbar-background{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
	height: 848px;
}

.navbar{
	background-color: white;
}

.caja-amarilla{
    background-color: #f7b617;
    width: 89%;
    position: relative;
    margin-top: 80px;
    left: 15px;
}
.cabecera-caja {
	width: 92%;
}

.img-escondida{
    margin-bottom: 30px;
    margin-left: 30px;
}
.cabecera-caja h3{
	margin-left: 9%;
	margin-top: 50px;
    font-size: 35px;
    color: white;
}
.caja-amarilla h4{
	margin-left: 9%;
    color: white;
    font-size: 29px;
    margin-top: 31px;
    font-weight: 300;
}

.caja-amarilla h4 img{
    margin-top: -31px;
    margin-left: 29%;

}
.caja-amarilla p{
	color: white;
    margin-left: 9%;
    font-weight: 100;
    font-size: 15px;
    margin-top: 21px;
}

.caja-registrate{
	width: 86%;
}

.caja-registrate p{
	position: relative;
    top: -31px;
    font-size: 15px;
	margin-left: 43%;
}

.caja-registrate button{
    position: relative;
    top: -40px;
    width: 260px;
    height: 54px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: none;
	margin-left: 10%;
}

.linea1{
	width: 132px;
    margin-left: 10%;
}

.linea2{
    width: 132px;
    position: relative;
    top: -63px;
    left: 60%;
}

/* SECOND SECTION */

.second-section{
	background-color: #f7b617;
	width: 100%;
}

.caja-celu{
    width: 80%;
    height: 530px;
}
.caja-borde{
    border: 1px solid white;
    position: relative;
    left: -88px;
    top: 30px;
    width: 942px;
    height: 476px;
}
.cel-grande{
    margin-top: 50px;
    margin-bottom: 45px;
    margin-left: 7%;
    width: 76%;
}
.cel-pequenio{
    width: 33%;
    margin-left: 7%;
    margin-top: 18px;
}
.txt-escondido{
    color: white;
    margin-left: 12%;
    font-size: 43px;
    font-weight: 200;
}
.caja-descarga{
    position: relative;
    top: 84px;
    width: 450px;
    height: 300px;
	color: white;
}
.caja-descarga h3{
	font-size: 36px;
	color: white;
	margin-bottom: 30px;
}

.caja-descarga p{
	font-size: 19px;
    font-weight: 100
}

/* THIRD SECTION */

.third-section{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.caja-conduce{
    height: 400px;
    background-color: rgba(11, 3, 16,0.4);
    color: white;
}

.caja-conduce h3{
	font-size: 34px;
    margin-top: 80px;
    margin-left: 3%;
}

.caja-conduce p{
	font-size: 20px;
    font-weight: 200;
    width: 355px;
    margin-left: 3%;
    margin-top: 23px;
}

.caja-conduce button{
    border: none;
    background-color: #f7b617;
    margin-left: 3%;
    margin-top: 20px;
    width: 235px;
    height: 44px;
    font-size: 18px;
    color: white;
    font-weight: 100;
}

/* TARIFAS */
.tarifas{
	background-color: #f7b617;
    height: 500px;
}

.caja-tarifa{
    color: white;
    width: 400px;
    height: 444px;
}

.caja-tarifa h3{
	font-size: 33px;
    margin-top: 60px;
}

.caja-tarifa p{
	font-size: 17px;
    margin-top: 33px;
    margin-bottom: 30px;
    font-weight: 100;
}

.caja-tarifa span{
	margin-right: 12px;
	font-size: 23px;
    color: rgba(255, 255, 255, 0.62);
}

.caja-tarifa input{
    width: 292px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.caja-tarifa button{
    margin-left: 21%;
    width: 160px;
    margin-top: 28px;
    border-radius: 6px;
    border: none;
}

.caja-mapa{
    border: 2px solid white;
    width: 435px;
    height: 430px;
    margin-left: 20%;
    margin-top: 47px;
}

#map{
    width: 400px;
    height: 400px;
    margin-top: 12px;
}

/* FOOTER */

footer{
	background-color: #2B2B2B;
}

.caja-logo-footer{
	margin-top: 80px;

}
.redes-sociales{
	margin-top: 300px;
    margin-left: 6%;
    color: white;
    font-size: 20px;
}

.redes-sociales i:hover{
	color:  #f7b617;
	cursor: pointer;
}
.links ul li{
    list-style-type: none;
    margin-top: 20px;
    font-weight: 100;
}
.links a{
	color: white;
    text-decoration: none;
}

.links a:hover{
	color:  #f7b617;
	cursor: pointer;
}
.img-store{
	margin-top: 182px;
}
.img-store img{
	margin-top: 14px;
}
.img-store img:hover{
	cursor: pointer;
}
.txt-footer {
	color: white;
	font-weight: 100;
	margin-bottom: 60px;
}